.personagemItem {
  margin: 10px;
  text-align: center;
  border: 5px solid #d32f2f;
  border-radius: 10px;
}

.personagemItem img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  filter: drop-shadow(0 0 10px #d32f2f);
}

.personagemItem h3,
.personagemItem p {
  background-color: #d32f2f;
  color: #000000;
  padding: 10px;
}
