.personagemItem {
  flex: 1 1 calc(30% - 20px);
  margin: 10px;
  text-align: center;
  border: 5px solid #d32f2f;
  border-radius: 10px;
}

.personagemItem img {
    width: 100px;
    height: 100px; 
    object-fit: cover;
    object-position: top;
}
