.cabecalho{
    height: 60px;
    background-color: #D32F2F;
    color: #000000;
    border-bottom: 2px solid #FFC107;
    font-family: "Sawarabi Mincho", serif;
    font-size: 30px;
    display: flex;
    align-items: center;
}