.rodape{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc107;
    color: #000000;
    border-top: 5px solid #d32f2f;
    text-align: center;
}